@import "styles/footer";
@import "styles/blog.scss";
@import "styles/blog-page";
@import "styles/utilities.scss";
@import "styles/main-menu.scss";

.content {
    /**
    This is apparently a key component of the sticky footer.
     */
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    gap: 0 100px;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 3;
}

.divider {
    border-left: 1px solid lightgray;
}

@media(max-width: 1337px) {
    .content {
        flex-direction: column;
    }
}
