@import "styles/blog.scss";
@import "styles/blog-page";
@import "styles/global.scss";
@import "styles/main-menu.scss";
@import "styles/about.scss";
@import "styles/home.scss";

body {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: 'Jetbrains Mono Regular', serif;
}

h1 {
    line-height: 1.1em;
}

@font-face {
    font-family: 'JetBrains Mono Regular';
    font-style: normal;
    font-weight: 300;
    src: local('Jetbrains Mono Regular'), url("../static/fonts/JetbrainsMono-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    font-style: normal;
    font-weight: 300;
    src: local('Jetbrains Mono Bold'), url("../static/fonts/JetbrainsMono-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono Italic';
    font-style: normal;
    font-weight: 300;
    src: local('Jetbrains Mono Italic'), url("../static/fonts/JetbrainsMono-Italic.woff2") format('woff2');
}

.content {
    /**
    This is apparently a key component of the sticky footer.
     */
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    gap: 0 100px;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 3;
}

.divider {
    border-left: 1px solid lightgray;
}

@media(max-width: 1337px) {
    .content {
        flex-direction: column;
    }
}
