.blog-page {
    width: 65%;

    @media(max-width: 1337px) {
        width: 75%;
    }

    pre {
        padding: 20px;
        border-radius: 5px;
        max-width: 75%;
    }

    .blog-published-date {

    }

    .blog-page-content {

    }
}
