.blog {
    a {
        &:link {
            text-decoration: none;
        }
    }

    .blog-menu {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;

            &:hover {
                background-color: lightgray;
            }

            width: 50%;
        }
    }
}
