/*
$background-color: #222831;
$text-color: #f8f5f1;
$link-background-color: rgba(240, 84, 84, 0.60);
$link-highlight-background-color: rgba(240, 84, 84, 1.00);

body {
    @media(prefers-color-scheme: dark) {
        background-color: $background-color;
        color: $text-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    @media(prefers-color-scheme: dark) {
        color: $text-color;
    }
}

a {
    @media(prefers-color-scheme: dark) {
        color: $text-color;
    }
}

.nav-bar a:hover {
    @media(prefers-color-scheme: dark) {
        text-decoration-color: $text-color;
    }
}

.blog-page, .about, .home {
    a {
        @media(prefers-color-scheme: dark) {
            background-color: $link-background-color;
        }

        &:hover {
            @media(prefers-color-scheme: dark) {
                background-color: $link-highlight-background-color;
            }
        }
    }
}
*/