.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;

        li {
            list-style-type: none;
            padding: 20px;
            margin-right: 20px;

            &:hover {
                text-decoration-line: underline;
                text-decoration-style: double;
                text-decoration-color: black;
                text-underline-offset: 10px;
            }

            @media(min-width: 1338px) {
                margin-bottom: 20px;
            }
        }
    }

    @media(max-width: 1337px) {
        flex-direction: row;
    }
}
