.nav-bar {
    display: inline;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;

        margin-right: 20px;

        &:hover {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: black;
            text-underline-offset: 10px;
        }

        @media(min-width: 1338px) {
            margin-bottom: 20px;
        }
    }

    .root-link {
        font-weight: bold;
    }
}
