<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>eirikvaa.me | {% block title %} {% endblock %}</title>
    <link rel=stylesheet href={{ get_url(path="styles.css" ) }}>
</head>

<body>
<main class="container">
    <div class="left-content">
        <h1 class="title">
            <a href="/">eirikvaa.me</a>
        </h1>
        {% include "_nav-bar.html" %}
    </div>

    <div class="divider"></div>

    <div class="right-content">
        {% block content %} {% endblock %}
    </div>
</main>
<script type="text/javascript" src={{ get_url(path="main.js" ) }}></script>
</body>
