<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{% if page.title %}{{ page.title }} {% else %} eirikvaa.me {% endif %}</title>
    <link rel=stylesheet href={{ get_url(path="styles.css" ) }}>
</head>

<body>
<main class="content">
    <div class="left-content">
        <h1 class="title">
            Eirik Vale Aase
        </h1>

        <ul class="main-menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/blog/">
                <li>Blog</li>
            </a>
            <a href="/about/">
                <li>About</li>
            </a>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="right-content">
        {% block content %} {% endblock %}
    </div>
</main>
<script type="text/javascript" src={{ get_url(path="main.js" ) }}></script>
</body>
