{% extends "base.html" %}

{% block content %}

<div class="blog">
    <h2 class="blog-title-link">{{ section.title }}</h2>

    <p>{{ section.content | safe }}</p>

    {% for page in section.pages %}

    <h3>
        <a href="{{ page.permalink | safe}}">{{ page.title }}</a>
    </h3>

    <em>{{ page.date }} - {{ page.reading_time}} minute reading</em>
    <p>
        {{ page.summary | safe}}
    </p>
    <a href="{{ page.permalink | safe}}">Read more ...</a>

    {% endfor %}
</div>

{% endblock %}
