{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="home">
    <h2 class="home-title">{{ section.title }}</h2>

    <p>{{ section.content | safe }}</p>

    <h3>Latest articles</h3>

    {% for page in section.pages %}

        {% if loop.index <= 3 %}
            <p>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </p>

            <p class="blog-entry-meta">
                {{ page.date }}
            </p>
        {% endif %}

    {% endfor %}

    <a href="/blog">Read more…</a>
</div>

{% endblock %}
